consumer/HELP.md
producer/HELP.md
consumer/target/
producer/target/
!/consumer/.mvn/wrapper/maven-wrapper.jar
!/producer/.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### VS Code ###
.vscode/
